sudo: required
dist: trusty
language: node_js
node_js:
- stable
branches:
  except:
  - gh-pages
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- npm install web-component-tester
- npm install bower
- export PATH=$PWD/node_modules/.bin:$PATH
- bower install
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --plugin sauce --skip-plugin
  local; fi
after_success:
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$DEPLOYSECRET"
  -in deploy.enc -out deploy_key -d; fi
- cd $TRAVIS_BUILD_DIR/scripts
- chmod 755 ghp.sh
- "./ghp.sh"
env:
  global:
  - secure: Qw9wqihzA4fnMSdIWSTmKaaookzEqzbRqbkPLQD0GGjvwLidgKUvXK6w+KlRZi24uXZphMKnrAyRX5BpvBJZlpif1ItzS/tKLWu2+s5b7NuvvE2TvU8ATlCMA7WBCssOUSAzLTMEFcwSvDLZLgyo6nYqiaYCDuSBqg5oHmYCx21CYd08czql3tnwS/2y71c2FSY7IU3cayWYeWGJR+wOGhTZoERgOhWPbaCzF8a/rHGLc9GXfEpTmD10ZZPwE+oy/C2M09IQnLXNSoErzWqWewV8ljWcht2JFuKIjd1mT4ztK/a7v9kShdfwIS+pF6lz102/b3CG4MIVgzSEq8cAgjPiV4XyONF41/G60qyjTNjaCJtmIsNcM9TVyuIADGK/QRQhOD7HXOhm1h/cdfgMtSd3HmOIyE2tZbNYcboHcbkv+oG7J2zK1zNqn+xChqGemyEy07isIxIehso1qJEcc03dXebqeyEXqnGB5zVT0V0bM5MxHX+1Z/7B9sLGfFwDyjRLhlENrJU/kl7xMfiBjTwi4rFo4/r8VcdUl2vNgRBTnbG3nB0lnDk50Wz8eR7mf8UIZrPxV7UAjvJUiw1o3/ls3X0HssX6VxkvJha2b6XUrBQzSMAH1AT7K/ldy8K67IMKZ7EZRtt9KMg+I2flMu75FQlr4L0oB6/8ZSgSVac=
  - secure: gKzMReDOAvbHsWOzvXI6f/4/lBWxLNtmyS4IdorOCdjwdNJ0O8r41qTuDp0PuHq/1IwWliMGRwf1wXZqQo/VkH/EgQJKeNI4X97CeeAk0RZPsfpvWb7PBYR5+w4HeQNn9xHim9nNSE1Hsr4BELA2TVfyfx90+T2cRMAOgKUjprsaTGRDMnWr1FL0sIRxgGv9qUIJR6QBofakAoIGFqiAxN3ymEn4kWzbZRglWvsm33oZPhWu1sZMh0DtAH6/oDRSQkBKPH1DeU043dmmwhz+hSRwvm4+AzZLPuHueFPI1Nyrc8nggwECmSE4RIA/warZ7frijf1rUWVRjjGuvNmDK+jrnmmU01bvVHdvKNvh570m8znV4EN29ReLcI16WmJnEwNXw95537lO6UdJtr5AJUMqJ5wTnC1LaJDBA+eODyVSrfy68JETFR9lpHAg/367trU+oqVsltf3l7mClSOBlMFrjcNFW3CdLELy4LuUKTaKC6ovOMgwFDmMwFzx0iEx7W9PPRKDZNV2GElKtiQo1ivaed9JfRsacndr+wCEpZlf3fBKRPJ2IUa10gwzsRhoZFECJm3vKbn18fYLws++ecjpelWDXITF3tzx4XvUgdsAg2I1xcfh20hrgbvL+QJ4DKcRrbaSTUW94weJEdA3R3fnXwFSlb39mSK8sbKxJzc=
  - secure: bQflmAlg3Imcqoy4LnYpR5b2MmilIUTfAMR51SIwTsLNo6o//Ue9qbgWSes6SlLzzlCW4LY72K96TrLX5kbt6THTxKRnzWvnV9sPAE5Fea1C1bENUqiVrZrBkVpBxbD7mmC+jEUWwlmxYhj0J8Elv+goETiNazr2BHvQUHIEB1mrm0q9RWHrvnBIosqqHvgNGXRkXZ0Z1V5xmmjPDVJiG6JK+n8chKZ7vUyja1DN70JUyj/GoGjYp8rMydeP3TEZ9GWJx2IdA6wtRQ1YCR1sXcIRKF0iuerw0wmKAFfzYaXfLCEFop2DfODwUmtEBa5WpR/wDj/FtBEC3ERUiiQX0xF5E2AKgBfhIiQv9Ijv9HCALJsgp8KfX2yNM82dudl0D2oewwR0O/OjkGiQ9iHOsb2LGDiXHdcqauq8B5saUk6pWqLFdVmXa+CbOO3lWAcIriCMmXhFUmcK9eKDKwUAnt2QoPEftTco/fV2es4gehvC2f9XOhM76A+dki7wGZMOsddWRv1bhse4cFE61t32ZSUys7T2Kdh6PedGhTmAun51hGAkbZudMA3KKnfYAkNRkYFHfNk+8f5lyOufdcGw0tL74GGBxBxgumeq7IdRWWW6KklA6IUkpk2a5BqKCfXt7jCAssJ/CM/oVs4033TFwTEBqOSUo+2pJdF5VSAtrYE=
  - secure: CA0osW3+ZkNi1O/tqyrZAlCtyGNujvFp/u4KXoagI53Gv0oNJKD8fKiY+9KTQ396J93dElMClOD1GSLH+EbZLC+ewjpHsWBQiMYcvl+9wZcgVfRXJ7j8Ji4n8dXy1wKBBZeq0JhilfNmwvT+6UE0uSE6EjsGV/yIj1ogvkdTYYtuGQcte1BwuiW6qC4S9OeDYnM5y8DekJrKsJ2a3jvs3QB4h9oPAloHPX2ltvMxoPV15cDCiYlKGepLbKJWOZrrR7bCYooQo60iYrRQJrqBmOZm8ZSJh4Yl2WgCfxnj1MvsDPgFNPpl85ml2YOQfpZeqFANV1hOJQYSZlS5DNwrZrehzIzrGkAy6WPz4SWmFmwFBW/rgBGCU2tEYUqeTACW41duemAEEM/ZuFENBmt12kMkoX+mmlKmdLZyi8C03te7PqL7BVQSa30Y7M6SgEgtNBhVfto8z5vAle9T3xKye+zdSTyJjQV0vKC5y4D3ApOZKDZeG7DJr/j6tUBRwNxaMKHI7QUNVlXVYy/hA/Hxo/rzc0SO+YR3PVnY2mcN//9sOHypAV9bUMQtcH2/rKcXQmx+FFDumT9p+vLEyXfgxsWE9j9vZ46qqrtr90rgFeYVT7V3/sLXn05v7mSpjChN6TPel8EAQfwpve7oaONVapNhhRLpXZ8JLu6+Sd+rDfc=
  - secure: YWcrT1rebJMN65vbzNi5iDNaQ6iIModnVg81SG2kC6TSh+OkimbbwmJIujw9hItDKZOLn7nSOA+7Tz0dfrGnExNP0HVqXij2Tg5EhCLnO7ATWAeq5BhPQpRRKBVJfXnA2qJvVTNgPxWjR3e+mF/StrxFiPD2J6xqANHA9+mP+dNFK3R/3jevKTqMrPdmTxAlDhIZlK4OGHG+sdHn/eZbBuZNaOUWNd4xlNT6bKXYrYqtLooL3/9ThxwPEI4KWFnW0uTCKg4jMkobTG7E3QFpPiIoyvXlvebyf6WIbS7MqzK6ivzm+9vUXmxXl8SucKVholLgzEGcPXzZOZaRINYvoIONF5B/TIRTR4GFIl8QnNMRKmHZeJPMvbDiQPTlJBboYnFBsBjc7aVw4WDWje8qv7pxZbKg4KU1Z0tb91KVSF0LwVDZEkGZ/nVfieZ4z7mMjyEyFSXkyf7CnFe9Nzb+ybH5xitjfeUwNzOpXtxuTeyGFRSOFbR3Q6Q3U5T24ul/JfAAwaFWmjZtBhOYrWtTkO26BnpTQLG4DC0dsM0ERcL2VGB2rlfnamEZMLd73QGWNV9w3q3NLox5IYHgLFTlIg+isHCnAHkQP1kriqZxIqxTPXs7YEuXnLtKrExGxsz+0skRxuThz3q1SXOmuZQJwkc/QjtWWfeFGQRLs7BBA78=
